---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <div id="table-info">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" class="title"> Thanks so much for the interest ! </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Session Information</th>
                    <td>
                        <b>~2 hours</b> (around 4:00PM - 6:00PM) for the best lighting<br>
                        <b>Unlimited outfit changes</b> (no changing tent at shooting location) <br>
                        I am generally available <b>Thursday to Sunday</b>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Pricing</th>
                    <td>
                        Total <b>$150</b> <br>
                        $75 deposit on day of shoot<br>
                        $75 after previewing sample edited images, then all photos will be released<br>
                      </td>
                  </tr>
                    <tr>
                      <th scope="row">Location</th>
                      <td>
                          Any location within <b>15 miles</b> of <b>Rochester</b> or <b>East Lansing</b> <br>
                          Multiple locations with an additional travel fee
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Collection</th>
                      <td>
                          <b>40 final EDITED JPEGs</b> from the shoot shared in a google drive folder<br>
                          <b>150-200 final UNEDITED JPEGs</b> from the shoot shared in a google drive folder<br>
                          Raw NEFs free upon request <br>
                          
                      </td>
                    </tr>
                    <tr>
                    <th scope="row">Editing</th>
                        <td>
                            Photos are edited in lightroom and photoshop <br>
                            Editing may include touch-ups, re-lighting, color changes, etc. <br>
                            Additional photo editing upon request<br>   
                            <img src="images/DSC_0577-process.jpg" width="80%"></img> 
                        </td>
                        
                    </tr>
                    <tr>
                    <th scope="row">Photo Rights</th>
                        <td>
                            You are <b>free to print or distribute</b> the photos, though I appreciate it if you reference me <br>
                            I will bring a model release and photo release form on the day of the shoot
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <section>
                        <h2>Contact Me</h2>
                        <p>Text me at 248-935-6208 for more information!</p>
                        <ul class="icons">
                            {% if site.social_urls.facebook %}
                                <li>
                                    <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                        <span class="label">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.twitter %}
                                <li>
                                    <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.instagram %}
                                <li>
                                    <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                        <span class="label">Instagram</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.dribbble %}
                                <li>
                                    <a href="{{ site.social_urls.dribbble }}" class="icon fa-dribbble">
                                        <span class="label">Dribbble</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.github %}
                                <li>
                                    <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.linkedin %}
                                <li>
                                    <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                        <span class="label">LinkedIn</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </section>
                </section>
            </div>
        </div>
    </footer>
</div>
